@import './components/responsive';


*{
    margin: 0;
    padding: 0;
    font-family: $primary_font;
    text-decoration: none;
    font-weight: 500;
    box-sizing: border-box;
}

html{
  font-size: 62.5%;
  @include for-phone-only {    
      font-size: 42%;
      // font-size: 52%;
  }
  @include for-tablet-portrait-up{
      font-size: 54%;
  }
  @include for-tablet-landscape-up{
    font-size: 58%;
  }
  @include for-desktop-up{
    font-size: 62.5%;
  }
}
  
.form-body{
    background-image:url(../assets/images/logo-shape.png), linear-gradient(250deg, rgba(239,41,94,1) 38%, rgba(239,132,41,1) 100%); 
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 6rem;

    .msg{
      background-color: #ffff;
      color: #cc0000;
      font-weight: 600;
      padding: 1rem;
      font-size: 1.3rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      position: absolute;
      z-index: 11;
      top: 0;
      right: 0;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      i{
        font-size: 3rem;
        margin-left: 1.5rem;
      }
    }

    .show{
      animation: show_slide 1s ease ;
    }

    .hide{
      animation: hide_slide 1s ease;
    }

    @keyframes show_slide {
      0%{
        transform: translateX(100%);
      }
      100%{
        transform: translateX(0%);
      }    
    }

    @keyframes hide_slide {
      0%{
        transform: translateX(0%);
      }
      100%{
        transform: translateX(100%);
      }    
    }
  }

.dashboard-body{
    background-color: #f5f7f9;
    background-image: none;
    height: 100vh;
    ul li{
        list-style: none;
    }
}



  