.button{
    background-color: $primary_color;
    padding: 1rem;
    border: 0;
    border-radius: 0.5rem;
    color: $font_color;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}