.banner-container{
    padding: 2rem;
    width: 62%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include for-phone-only {    
        width: 100%;
    }
}

.form-container{
    width: 38%;
    background-color: rgb(255, 255, 255, 0.80);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    @include for-phone-only {    
        padding: 3rem;
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1.5rem;

    }
  
     @include for-tablet-portrait-up{
        padding: .5rem;
     }
    @include for-tablet-landscape-up{
        padding: 1rem;
    }
    @include for-desktop-up{
        padding: 2rem .2rem;
    }
}

.main-container{
    position: relative;
    background-image: url(./images/IMG_-1.png);
    height: 80vh;
    max-width: 800px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 1.5rem;

    @include for-phone-only {    
        flex-wrap: wrap;
    }
}

.text-container{
    display: flex;
    flex-direction: column;
    height: 55%;
    justify-content: space-between;
}

.input-container{
    display: flex;
    flex-direction: column;
    position: relative;
    i{
        font-size: 1.2rem;
        color: $form-text;
    }
}

.eye-container{
    position: absolute;
    right: 1rem;
    @include for-phone-only {    
        top: 3rem;
    }
    @include for-tablet-portrait-up{
        top: 2.8rem;
    }
    @include for-tablet-landscape-up{
        top: 2.8rem;
    }
    @include for-desktop-up{
        top: 2.4rem;
    }
}

.eye-container:hover{
    cursor: pointer;
}

.arrow-img{
    position: absolute;
    bottom: 5rem;
    width: 7rem;
}

.arrow-img-signup{
    left: 3.8rem;
}

.arrow-img-login{
    right: 3.8rem;
    transform: rotate(180deg);
}


