nav{
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 6px 6px;
    display: flex;
    padding: 1.3rem 3rem;
    position: relative;

    @include for-phone-only {    
        margin: 0;
        padding: 1.5rem 5rem;
    }
}

.side-bar{
    height: 100vh;
    padding: 1.7rem 3rem;
    position: absolute;
    top: 0;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 6px 6px;
    z-index: 11;
    background-color: #fff;
    // transition: transform .7s, opacity 1s;

    @include for-phone-only {   
        width: 30%; 
        transform: translateX(-100%);
        opacity:0;
        transition: transform .7s, opacity 1s;
    }
    @include for-tablet-portrait-up{    
        width: 35%;
        transform: translateX(-100%);
        opacity:0;
        transition: transform .7s, opacity 1s;
    }
    @include for-tablet-landscape-up{    
        width: 30%;
        transform: translateX(-100%);
        opacity:0;
        transition: transform .7s, opacity 1s;
    }

    @include for-desktop-up{    
        width: 20%;
        opacity: 1;
        transform: translateX(0);
    }

}

.side-heading{
    display: flex;
    align-items: center;
    h2{
        font-size: 1.5rem;
        font-weight: 800;
        color: #2b2b2bd4;
    }
}

.side-heading i{
    font-weight: 600;
    font-size: 1.8rem;
    color: #999999;
    margin-right: .8rem;
}

.show{
    transform: translateX(0%);
    opacity:1; 
}

.searchbox{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    i{
        font-size: 1.6rem;
        color: #999999;
    }

    input{
        margin: 0;
        width: 45%;
        border: none;
        margin-left: 1rem;
    }

    input:focus{
        outline: none;
    }

    ::placeholder{
        font-size: $p-size;
    }
}

.ham-span{
    width: 20%;
    cursor:pointer;
    // display: none;
    i{
        font-size: 2.4rem;
        color: #999999;
    }
    @include for-tablet-landscape-up {    
        // visibility: visible;
        display: block;
    }

    @include for-desktop-up{    
        display: none;
    }
}

.nav-info{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    i{
        font-size: 1.6rem;
        color: #999999;
        margin-left: 1.5rem;
    }
}

.dashboard-p{
    font-size: $p-size;
    margin: 0;
}

.dashboard-li{
    font-size: 1.6rem;
}

.common-db-container{
    display: flex;
    margin-bottom: 3.4rem;
    i{
        font-weight: 600;
        font-size: 1.8rem;
        color: #999999;
        margin-right: .8rem;
    }
}

.user-management{
    display: flex;
    align-items: center;
    background-color: #289ae7;
    margin: 0 auto;
    padding: 0.8rem 2rem;
    justify-content: space-between;
}

.user-management h2{
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffff;
}

.export-btn{
    padding: 1rem 3rem;
    border: none;
    outline: none;
    i{
        font-size: 1.6rem;
        margin-right: 1rem;
    }
}

.table-container{
    font-size: 1.4rem;
    color: #333333;

    @include for-phone-only {    
       width: 100%;
    }

    @include for-desktop-up{    
        width: 80%;
        float: right;
    }

    table{
        background-color: #ffff;
        border-collapse: collapse;
        // padding: .8rem 2rem;
        width: fit-content;
        text-align: left;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: block;
        margin: 0 auto;
        overflow-x: auto;
        white-space: nowrap;
        margin-top: 5rem;


        th{
            font-weight: 700;
        }

        th,td{
            padding: 1.2rem 2rem;
            color: #333333;
            border-bottom: .2px solid #99999987;
        }
    }
}

.action-container{
    i{
        font-weight: 600;
        font-size: 1.6rem;
    }
    i.fa-regular.fa-gear{
        margin-right: 1.1rem;
        color: #289ae7;
    }
    i.fa-solid.fa-circle-xmark{
        color: #f43122;
    }
}

.td-img-container{
    display: flex;
    align-items: center;
    img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 1rem;
    }
}



.pagination-container{
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    
    .active{
        background-color: #289ae7;
        color: #fff;
    }
}

.pagination-container a{
    padding: .8rem 1.5rem;
}

.nav-info-container{
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



table.loading{
    background-color: #00000038;
} 

.circle{
    display: none;
    height: 50px;
    width: 50px;
    border: 5px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 32%;
    left: 58%;
    border-top: 5px solid;
    animation:  spin 1s linear infinite;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}



