.dashboard-container{
    font-size: 1.5rem;
    margin: 0 auto;
    table{
        background-color: whitesmoke;
    }
    table, th, td{
        border: 1.5px solid;
        border-collapse: collapse;
        padding: 1rem 3rem;
    }

    table th{
        font-weight: 700;
    }
}

.button a{
    text-decoration: none;
    color: $font_color;
}